:root {
    --primary: #118DF0;
    --secondary: #e3f2fd;
    --dark: #004182;
    /* --dark: #0060bd; */
    --sdark: #b1bfca;
    /* --form: #EDF0F2; */
    --form: rgba(255, 255, 255, 0.5);
}

body::after {
    content: "";
    /* background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX23373694.jpg"); */
    /* background-image: url("https://images.unsplash.com/photo-1547003016-f98f1b2861b0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat:no-repeat;
    background-size: cover; */
    /* background-size: 200px; */
    background: radial-gradient(100% 2187.83% at 0% 50%, #F9D1AD 0%, #E4DFC2 23.26%, #85D7D1 47.74%, #4CC0CE 70.65%, #0190A1 100%);
    opacity: 0.85;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: white;
    z-index: -1; 
}

h1 {
    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: var(--dark);
}

.content {
    height: 100%;
}

.isi {
    box-sizing: border-box;
    flex: 1;
    margin: 1rem;
    /* width: 74%; */
    max-width: 49rem;
    padding: 1rem;
    border: solid 1px #DDDDDD;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.5);
    /* backdrop-filter: blur(35px); */
}

.navigation h1,
.navbar h1 {
    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    /* line-height: 48px; */
    color: var(--dark);
    text-align: center;

    /* position: sticky; */
    /* Set the navbar to fixed position */
    /* top: 0; */
    /* Position the navbar at the top of the page */
    /* width: 100%; */
    /* Full width */

    /* background: var(--form); */
    /* background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px); */
    /* border: 1px solid var(--form); */
    margin-top: 1.5rem;
    /* box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.25); */
    /* text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.55); */
}

.task-group {
    border-radius: 10px;
    border: #DDDDDD 1px solid;
    background: rgba(255, 255, 255, 0.5);

    padding: 1rem;
    margin-bottom: 1rem;
}

.task-group h1 {
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 10px;

}

.task {
    background: #d3d3d3;
    width: 11.5rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 78px;
    margin-bottom: 0px;

}

.task[mapel=mat] {
    background: #f5d470;
}

.task[mapel=kim] {
    background: #64c5cf;
}

.task[mapel=sej] {
    background: #e2818e;
}

.task[mapel=fis] {
    background: #9fb0dd;
}



.task:hover {
    box-shadow:inset 0px 0px 0px 2px var(--dark);
    /* box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.25); */
}

.task h1 {
    font-weight: 550;
    font-size: 20px;
    margin: 0px;
}

.task p {
    font-family: Exo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: 0px;
    color: var(--dark);
}

.tasks {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    gap: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.container {
    display: flex;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.container-child {
    margin: 10px;
    min-width: 100px;
    flex: 1;
}

.container-child:first-child {
    /* min-width: 660px; */
    margin: 0px;
    align-items: flex-end;
    margin-right: 35px;
}

.navbar {
    top: 0rem;
    width: 12rem;
    height: 100%;
    /* margin: 1rem; */
    padding: 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: fixed;
    /* border: solid 1px #DDDDDD; */
    /* border-radius: 0px 20px 20px 0px; */
    background-color: white;
    box-shadow: 0px 2px 25px rgba(58, 58, 58, 0.25);
    background: rgba(255, 255, 255, 0.5);
    /* backdrop-filter: blur(35px); */
}

.navbar ul {
    padding: 0px;
    margin: 0px;
}

.navbar li {
    font-family: Exo;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: auto;
    list-style: none;
    border-radius: 10px;
    color: var(--dark);

    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
    transition: 0.2s ease;
    
}


.navbar li:hover {
    background-color: var(--primary);
    color: white;
    box-shadow: 0px 2px 25px rgba(86, 172, 162, 0.25);
}

.navbar .active {
    /* background: linear-gradient(90deg, #1F005C 0%, #2F0265 14.29%, #620A7C 28.57%, #9C1A84 42.86%, #BF3163 57.14%, #DB4C42 71.43%, #E87C39 85.71%, #F19438 100%); */
    background: var(--dark);
    color: #EDF0F2;
    font-weight: bold;

}

.illust {
    align-items: center;
    justify-content: center;
}

.illust img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0px;
}

table,
tr,
th,
td {
    border-collapse: collapse;
    padding: 5px; 
    font-family: Source Sans Pro;
    font-style: normal;
}

th {
    font-style: 600;
}

th,
td {
    border: 1px solid #d3d3d3;
}

table {
    border: 1px solid #DDDDDD;
    background: rgba(255, 255, 255, 0.5);

}

form {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.form-group {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    max-width: 350px;
    /* margin-right: 5px; */
}

.form-group label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 10px;
    color: var(--dark);
    padding-bottom: 5px;
}

.form-group textarea {
    overflow: auto;
    padding-top: 11.5px;
    resize: vertical;
    height: auto;
    min-height: 100px;
}

.form-control {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    background: var(--form);
    border-radius: 10px;
    padding-left: 15px;
    /* margin-right: 15px; */
    border: none;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: var(--dark);

    border: 1px solid var(--sdark);
    /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); */
}

.form-double {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    box-sizing: border-box;
    gap: 15px;
}

.primary-button {
    align-items: center;
}

.primary-button button {
    width: 150px;
    height: 45px;
    background: var(--dark);
    border-radius: 10px;
    border: none;
    color: #F4F6F9;
    font-size: 16px;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}


.primary-button button:hover,
.primary-button button:focus,
.primary-button button:active {
    cursor: pointer;
    background-color: var(--primary);
}

@media screen and (max-width: 1023px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .container-child:first-child {
        /* min-width: 660px; */
        margin: 0px;
        align-items: center;
        margin-right: 0px;
    }

    .illust {
        display: none;
    }
}